@import "colors";
@import "fonts";

.welcome {
  height: 963px;
  display: flex;
}

.banner {
  height: 100%;
  width: 45%;
  background-image: url('../../assets/heroImage.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 160%;
}

.navi {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.login {
  text-align: right;
  font: normal normal normal 14px/85px Open Sans;
  letter-spacing: 0;
  color: $linkColor;
  margin-right: 30px;
  padding: 0 15px;
  text-decoration: none;
  cursor: pointer;
  border: 0.75px solid transparent;
  &:hover {
    border: 0.75px solid #FAD648;
    opacity: 1;
  }
  &:last-child {
    margin-right: 0;
  }
}

ul {
  display: flex;
}

.menu {
  text-align: left;
  font: normal normal normal 18px/24px Open Sans;
  letter-spacing: 0;
  color: $fontColor;
  opacity: 1;
  margin-right: 55px;
  cursor: pointer;
  border: 0.75px solid transparent;
  &:hover {
    border: 0.75px solid #3C3C3C;
    padding: 7px;
    opacity: 1;
  }

  &:last-child {
    margin-right: 0;
  }
}

.start-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 210px;
  margin-left: 66px;
}

a {
  text-align: right;
  font: $font-base;
  letter-spacing: 0;
  color: $linkColor;
  text-decoration: none;
  cursor: pointer;
}