.help {
  height: 1012px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-help {
  margin-top: 70px;
}

.button-help {
  margin-top: 62px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.help-details {
  width: 1344px;
  height: 553px;

}

h2 {
  text-align: center;
  font: normal normal normal 22px/30px Open Sans;
  letter-spacing: 0;
  color: #3C3C3C;
  opacity: 1;
  width: 640px;
  margin-left: 325px;
}